Source: php-gearman
Section: web
Priority: optional
Maintainer: Massive Media <admin@massivemedia.eu>
Build-Depends: debhelper (>= 7), php54-dev, libgearman-dev (>= 0.27), libevent-dev
Standards-Version: 3.8.3
Homepage: http://pecl.php.net/package/gearman

Package: php54-gearman
Provides: php5-gearman
Replaces: php5-gearman
Conflicts: php5-gearman
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${php:Depends}, libgearman6 (>= 0.27)
Description: PHP wrapper to libgearman
 This extension uses libgearman library to provide API for
 communicating with gearmand, and writing clients and workers.
